<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Grid</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/footer" routerDirection="root">
        PREVIOUS
      </ion-button>
      <ion-button routerLink="/header" routerDirection="root">
        NEXT
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>1 of 2</div>
      </ion-col>
      <ion-col>
        <div>2 of 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 3</div>
      </ion-col>
      <ion-col>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 3</div>
      </ion-col>
      <ion-col col-6>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <div>1 of 3</div>
      </ion-col>
      <ion-col>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-4>
        <div>1 of 2</div>
      </ion-col>
      <ion-col>
        <div>2 of 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 2</div>
      </ion-col>
      <ion-col offset-4>
        <div>2 of 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 4</div>
      </ion-col>
      <ion-col>
        <div>2 of 4</div>
      </ion-col>
      <ion-col>
        <div>3 of 4</div>
      </ion-col>
      <ion-col>
        <div>4 of 4</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- option 2 -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          ion-col
        </div>
      </ion-col>
      <ion-col>
        <div>
          ion-col
        </div>
      </ion-col>
      <ion-col>
        <div>
          ion-col
        </div>
      </ion-col>
      <ion-col>
        <div>
          ion-col
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <div>
          ion-col [size="6"]
        </div>
      </ion-col>
      <ion-col>
        <div>
          ion-col
        </div>
      </ion-col>
      <ion-col>
        <div>
          ion-col
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <div>
          ion-col [size="3"]
        </div>
      </ion-col>
      <ion-col>
        <div>
          ion-col
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          ion-col [size="3"]
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <div>
          ion-col [size="3"]
        </div>
      </ion-col>
      <ion-col size="3" offset="3">
        <div>
          ion-col [size="3"] [offset="3"]
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          ion-col
        </div>
      </ion-col>
      <ion-col>
        <div>
          ion-col
          <br>#
        </div>
      </ion-col>
      <ion-col>
        <div>
          ion-col
          <br>#
          <br>#
        </div>
      </ion-col>
      <ion-col>
        <div>
          ion-col
          <br>#
          <br>#
          <br>#
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col align-self-start>
        <div>
          ion-col [start]
        </div>
      </ion-col>
      <ion-col align-self-center>
        <div>
          ion-col [center]
        </div>
      </ion-col>
      <ion-col align-self-end>
        <div>
          ion-col [end]
        </div>
      </ion-col>
      <ion-col>
        <div>
          ion-col
          <br>#
          <br>#
        </div>
      </ion-col>
    </ion-row>

    <ion-row align-items-start>
      <ion-col>
        <div>
          [start] ion-col
        </div>
      </ion-col>
      <ion-col>
        <div>
          [start] ion-col
        </div>
      </ion-col>
      <ion-col align-self-end>
        <div>
          [start] ion-col [end]
        </div>
      </ion-col>
      <ion-col>
        <div>
          ion-col
          <br>#
          <br>#
        </div>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <div>
          [center] ion-col
        </div>
      </ion-col>
      <ion-col>
        <div>
          [center] ion-col
        </div>
      </ion-col>
      <ion-col>
        <div>
          [center] ion-col
        </div>
      </ion-col>
      <ion-col>
        <div>
          ion-col
          <br>#
          <br>#
        </div>
      </ion-col>
    </ion-row>

    <ion-row align-items-end>
      <ion-col>
        <div>
          [end] ion-col
        </div>
      </ion-col>
      <ion-col align-self-start>
        <div>
          [end] ion-col [start]
        </div>
      </ion-col>
      <ion-col>
        <div>
          [end] ion-col
        </div>
      </ion-col>
      <ion-col>
        <div>
          ion-col
          <br>#
          <br>#
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm>
        <div>
          ion-col [size="12"] [size-sm]
        </div>
      </ion-col>
      <ion-col size="12" size-sm>
        <div>
          ion-col [size="12"] [size-sm]
        </div>
      </ion-col>
      <ion-col size="12" size-sm>
        <div>
          ion-col [size="12"] [size-sm]
        </div>
      </ion-col>
      <ion-col size="12" size-sm>
        <div>
          ion-col [size="12"] [size-sm]
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md>
        <div>
          ion-col [size="12"] [size-md]
        </div>
      </ion-col>
      <ion-col size="12" size-md>
        <div>
          ion-col [size="12"] [size-md]
        </div>
      </ion-col>
      <ion-col size="12" size-md>
        <div>
          ion-col [size="12"] [size-md]
        </div>
      </ion-col>
      <ion-col size="12" size-md>
        <div>
          ion-col [size="12"] [size-md]
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-lg offset="3">
        <div>
          ion-col [size="6"] [size-lg] [offset="3"]
        </div>
      </ion-col>
      <ion-col size="3" size-lg>
        <div>
          ion-col [size="3"] [size-lg]
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>