<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Back Button</ion-title>
    <ion-buttons slot="primary">
        <ion-button routerLink="/avatar" routerDirection="root">
          PREVIOUS
        </ion-button>
      <ion-button routerLink="/backdrop" routerDirection="root">
        NEXT
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>

    <p>Back-Button is displayed when there is history</p>

</ion-content>
