<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ionic 4 Component Master
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="https://miro.medium.com/max/4000/1*qMT7WHMPzBZai4ZikSlLTg.jpeg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic 4 Component Master</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now you can speed up your development process by using this app if you want to start building out features and components with the best practices. Check out the resources i made for you. 
          <ion-chip (click)="openMenu()">
            <ion-icon color="primary" name="hand"></ion-icon>
            <ion-label>Let's start</ion-label>
          </ion-chip>
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
